@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --white: #ffffff;
  --black: #0f0f0f;
  --grey: #e5e5e5;
  --blue: #263238;
  --darkgrey: #717171;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  
}

/* Header  */

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.a {
  text-decoration: none;
  color: var(--blue);
}
.a_contact {
  color: var(--white);

  text-decoration: none;
}
.a_contact:hover {
  color: var(--blue);
  background: var(--white);
  text-decoration: none;
}
.header {
  margin: 30px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo_header {
  width: 150px;
  height: 36px;
}

/* Menu list */
.ul_header {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  background: var(--white);
}

/* Menu item */
.li_header {
  padding: 10px 18px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.li_header:hover {
  border-color: var(--blue);
}

/* Contact button */
.contact {
  background: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
}
.a_contact {
  background: var(--blue);
}

.contact:hover {
  background: var(--white);
  color: var(--blue);
  .a_contact {
    color: var(--blue);
    background: var(--white);
  }
}

/* Icons */
#hamburger,
#x {
  display: none;
  font-size: 25px;
  color: var(--blue);
  cursor: pointer;
}
/*header*/
/*hero1*/
.hero1 {
  text-align: center;
  margin-top: 120px;
}
.trusted {
  display: flex;
  justify-content: space-between;
  width: 255px;
  background: var(--grey);
  padding: 6px 10px;
  border-radius: 15px;
}
.truster_p {
  margin-top: -2px;
  background: none;
}
.globe {
  background: none;
}
.hero1content {
  display: flex;
  justify-content: center;
}
.from {
  font-size: 75px;
  width: 90%;
  margin: 40px auto;
  color: var(--blue);
  font-weight: 600;
}
.we_provide {
  font-size: 25px;
  width: 75%;
  margin: 40px auto;
  color: var(--darkgrey);
}
.contact1:hover {
  border-color: var(--blue);
  background: var(--white);
  color: var(--blue);
}
.contact1 {
  background: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 220px;
}
.contact2 {
  background: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 240px;
}
.contact2:hover {
  border-color: var(--white);
  background: var(--blue);
  color: var(--white);
}
.herobuttons {
  display: flex;
  justify-content: space-between;
  width: 490px;
  margin: 40px auto;
}
/*hero1*/
/*hero2*/
.whatwe{
  font-size: 30px;
  font-weight: 600;
  margin-top: 120px;
  text-align: center;
  color: var(--blue);
}
.build{
  display: flex;
  justify-content: space-between;
  width: 1250px;
  margin: 40px auto;
}
.services{
  width: 390px;
  background: var(--grey);
  padding: 30px;
  border-radius: 10px;
  border: 3px solid transparent;
  color: var(--blue);
}
.web{
  font-size: 30px;
  font-weight: 600;
  width: 96%;
  height: 50%;
}
.webuild{
  margin-top: 15px;
  color: var(--darkgrey);
}
.services:hover{
  background: var(--white);
  border: 3px solid var(--blue);
}
/*hero2*/
/* -------------------- MOBILE -------------------- */
@media (max-width: 1025px) {
  /*450*/
  /*header*/
  .header {
    margin: 25px;
  }

  .logo_header {
    width: 95px;
    height: 23px;
  }

  /* Mobile dropdown menu */
  .ul_header {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 90%;
    flex-direction: column;
    gap: 5px;
    padding: 12px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    display: none;
  }

  /* Show menu */
  .ul_header.active {
    display: flex;
  }

  .li_header {
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }

  /* Show hamburger */
  #hamburger {
    display: block;
  }
  /*header*/

  /*hero1*/
  .hero1 {
    margin-top: 100px;
  }

  .from {
    font-size: 44px;
    width: 80%;
  }
  .we_provide {
    font-size: 15px;
    width: 80%;
    margin: 20px auto;
  }

  .contact1 {
    background: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .contact2 {
    background: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
    padding: 10px 18px;
    font-size: 14px;
    width: 100%;
  }

  .herobuttons {
    display: flex;
    justify-content: space-between;
    width: 82%;
  }
  /*hero1*/

/*hero2*/
.whatwe{
  font-size: 23px;
  margin-top: 52px;
}

.build{
  display: block;
  width:82%;
  margin: 20px auto 0px auto;
}
.services{
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
}
.web{
  font-size: 20px;
}
.webuild{
  font-size: 15px;
}
/*hero2*/
}

@media (max-width: 391px) {
  /*hero1*/
  .hero1 {
    margin-top: 70px;
  }
  .contact1 {
    background: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 10px 18px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .contact2 {
    background: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
    padding: 10px 18px;
    font-size: 12px;
    width: 100%;
  }
  .herobuttons {
    display: flex;
    justify-content: space-between;
    width: 82%;
  }
  /*hero1*/
  .whatwe{
  margin-top: 50px;
}
}
