@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --white: #ffffff;
  --black: #0f0f0f;
  --grey: #e5e5e5;
  --blue: #263238;
  --darkgrey: #717171;
}
.gradient-text {
  font-size: 75px; /* match your .from class */
  font-weight: 600;
  text-align: center;

  background: linear-gradient(90deg, #263238, #878787, #263238);
  background-size: 200% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* Header  */

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.a {
  text-decoration: none;
  color: var(--blue);

  padding: 10px 18px;
}
.a_contact {
  color: var(--white);
  padding: 10px 18px;
  text-decoration: none;
}
.a_contact:hover {
  color: var(--blue);
  background: var(--white);
  text-decoration: none;
}
.header {
  margin: 30px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo_header {
  width: 150px;
  height: 36px;
}

/* Menu list */
.ul_header {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  background: none;
}

/* Menu item */
.li_header {
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}
.li_header a {
  display: block;
}

.li_header:hover {
  border-color: var(--blue);
  background: var(--white);
}

/* Contact button */
.contact {
  background: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
}
.a_contact {
  background: var(--blue);
}

.contact:hover {
  background: var(--white);
  color: var(--blue);
  .a_contact {
    color: var(--blue);
    background: var(--white);
  }
}

/* Icons */
#hamburger,
#x {
  display: none;
  font-size: 25px;
  color: var(--blue);
  cursor: pointer;
}
/*header*/
/*hero1*/
.hero1 {
  text-align: center;
  margin-top: 120px;
}
.trusted {
  display: flex;
  justify-content: space-between;
  width: 255px;
  background: var(--grey);
  padding: 6px 10px;
  border-radius: 15px;
}
.truster_p {
  margin-top: -2px;
  background: none;
}
.globe {
  background: none;
}
.hero1content {
  display: flex;
  justify-content: center;
}
.from {
  font-size: 75px;
  width: 90%;
  margin: 40px auto;
  color: var(--blue);
  font-weight: 600;
}
.we_provide {
  font-size: 25px;
  width: 75%;
  margin: 40px auto;
  color: var(--darkgrey);
}
.contact1:hover {
  border-color: var(--blue);
  background: var(--white);
  color: var(--blue);
}
.contact1 {
  background: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
  padding: 10px 18px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 290px;
  height: 50px;
}
/*hero1*/
/**/
.whatwe {
  font-size: 30px;
  font-weight: 600;
  margin-top: 175px;
  text-align: center;
  color: var(--blue);
}
.build {
  display: flex;
  justify-content: space-between;
  width: 1250px;
  margin: 40px auto;
}
.services {
  width: 390px;
  background: var(--grey);
  padding: 30px;
  border-radius: 10px;
  border: 3px solid transparent;
  color: var(--blue);
}
.web {
  font-size: 30px;
  font-weight: 600;
  width: 96%;
  height: 50%;
}
.webuild {
  margin-top: 15px;
  color: var(--darkgrey);
}
.services:hover {
  background: var(--white);
  border: 3px solid var(--blue);
}
/**/
/*hero3*/
.shoplink_img {
  width: 52%;
  background: var(--grey);
  border-radius: 10px;
  padding: 20px;
}
.hero3_container {
  display: flex;
  margin: 50px auto;
  width: 90%;
  justify-content: space-between;
}
.SHOPLINK_title {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: var(--blue);
  border: 2px solid var(--blue);
  padding: 10px;
  border-radius: 19px;
  width: fit-content;
}
.asmart {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
  color: var(--blue);
}
.shoplink {
  width: 46%;
  margin-top: 40px;
}
.options_flex {
  display: flex;
}
.options {
  color: var(--blue);
  padding: 10px;
  border: 2px solid var(--blue);
  margin: 15px 15px 15px 0px;
  border-radius: 5px;
  width: 250px;
  text-align: center;
}
.explore:hover {
  border-color: var(--blue);
  background: var(--white);
  color: var(--blue);
}
.explore {
  background: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  margin: 15px 15px 15px 0px;
}
/*hero3*/
/*hero4*/
.we_combine {
  font-size: 20px;
  width: 75%;
  margin: 40px auto;
  color: var(--darkgrey);
  text-align: center;
}
.whychoose_div_flex {
  display: flex;
  width: 90%;

  justify-content: space-around;
  margin: 0px auto;
}
.whychoose_div {
  border: 2px solid var(--darkgrey);
  width: 22%;
  padding: 10px;
  border-radius: 10px;
}
.circle {
  width: 60px;
  height: 60px;
  background: var(--grey);
  margin: 10px auto;
  border-radius: 100%;
  text-align: center;
}
.Technical {
  font-size: 20px;
  color: var(--blue);
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.leveraging {
  font-size: 14px;
  text-align: center;
  color: var(--darkgrey);
}
.circle_icon {
  font-size: 25px;
  margin-top: 17.5px;
  color: var(--blue);
}
/*hero4*/
/*hero5*/
.ready {
  font-size: 30px;
  font-weight: 600;
  margin: 90px auto 0px auto;
  text-align: center;
  color: var(--blue);
  width: 90%;
}
.lets_connect {
  background: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  margin: 30px auto;
  display: block;
}
.lets_connect:hover {
  border-color: var(--blue);
  background: var(--white);
  color: var(--blue);
}
/*hero5*/
/*footer*/
.footer {
  background: var(--blue);
  width: 100%;
  height: fit-content;
  margin-top: 70px;
}
.footer_logo {
  width: 200px;
}
.Copyright {
  color: var(--white);
  margin-top: 20px;
}
.footer_left {
  width: 30%;
  margin-top: 50px;
}
.footer_max {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.all {
  color: var(--white);
  margin-top: 10px;
}
.socials {
  display: flex;
}
.circle_socials {
  width: 40px;
  height: 40px;
  background: var(--white);
  margin: 30px 10px 40px 0px;
  border-radius: 100%;
  text-align: center;
}
.socials_logo {
  font-size: 25px;
  margin-top: 7px;
  color: var(--blue);
}
.company {
  font-size: 25px;
  color: var(--white);
  font-weight: 600;
  width: 100%;
}
.footer_ul {
  color: var(--white);
  list-style: none;
}
.footer_li {
  font-size: 15px;
  margin: 10px 0px;
}
.input_email {
  background: var(--darkgrey);
  color: var(--blue);
  border: none;
  margin: 10px 0px;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}
.input_email::placeholder {
  color: var(--grey);
}
.emaildiv {
  display: flex;
}
.email_rocket {
  font-size: 20px;
  color: var(--white);
  margin-top: 25px;
  margin-left: 10px;
}
.footerleft_combine {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

/*footer*/

/*about*/
.about {
  margin-top: -70px;
}
.founded {
  color: var(--darkgrey);
  width: 80%;
  text-align: center;
  margin: 20px auto;
}
.aboutflex {
  display: flex;
  width: 80%;
  margin: 35px auto;
  justify-content: space-around;
}
.flexcontainer {
  background: var(--grey);
  padding: 20px;
  width: 25%;
  border-radius: 10px;
}
.number_about {
  font-size: 60px;
  font-weight: 700;
  color: var(--blue);
  margin-top: -20px;
}
.abouticon {
  color: var(--blue);
  font-size: 40px;
  text-align: right;
  display: block;
}
.about1 {
  margin-top: -60px;
}
.map {
  width: 1200px;
  margin: 40px auto;
  display: block;
}
/*about*/

/*contact us*/
.sendus {
  font-size: 30px;
  font-weight: 800;
  text-align: left;
  color: var(--blue);

}
.contactus{
  width: 88%;
  margin: 45px auto;
  background: var(--grey);
  padding: 20px;
  border-radius: 10px;
}
.tell{
  color: var(--darkgrey);
  margin-top: 10px;
}
.input_flex{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 20px;
}
.input_contact{
  width: 55%;
}
.label{
  color: var(--blue);
  font-size: 15px;
  font-weight: 600;
}
.contact_input{
  width: 80%;
  border: none;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  color: var(--blue);
}
.label span{
  font-size: 14px;
}
.contact_input_message{
  width: 163.5%;
  border: none;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.contact_submit{
  width: 30%;
  border: none;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  background: var(--blue);
  color: var(--white);
}
/*contact us*/
/* -------------------- MOBILE -------------------- */
@media (max-width: 1025px) {
  /*450*/
  /*header*/
  .header {
    margin: 25px;
  }

  .logo_header {
    width: 95px;
    height: 23px;
  }

  /* Mobile dropdown menu */
  .ul_header {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 90%;
    flex-direction: column;
    gap: 5px;
    padding: 12px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    display: none;
    background: var(--white);
  }

  /* Show menu */
  .ul_header.active {
    display: flex;
  }

  .li_header {
    width: 100%;
    font-size: 14px;
  }

  /* Show hamburger */
  #hamburger {
    display: block;
  }
  /*header*/

  /*hero1*/
  .hero1 {
    margin-top: 100px;
  }

  .from {
    font-size: 44px;
    width: 80%;
  }
  .we_provide {
    font-size: 15px;
    width: 80%;
    margin: 20px auto;
  }

  .contact1 {
    background: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
  }

  /*hero1*/

  /**/
  .whatwe {
    font-size: 25px;
    margin-top: 52px;
  }

  .build {
    display: block;
    width: 82%;
    margin: 20px auto 0px auto;
  }
  .services {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }
  .web {
    font-size: 20px;
  }
  .webuild {
    font-size: 15px;
  }
  /**/

  /*hero3*/
  .shoplink_img {
    width: 93%;
    border-radius: 10px;
    padding: 10px;
    margin: 0px auto;
    display: block;
  }
  .hero3_container {
    display: block;
    margin: 30px auto;
    width: 90%;
  }
  .SHOPLINK_title {
    font-size: 12px;
    font-weight: 500;

    margin: -20px auto 0px auto;
    padding: 10px;
    border-radius: 19px;
    width: fit-content;
  }
  .asmart {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
  }
  .shoplink {
    width: 100%;
    margin-top: 40px;
  }
  .options_flex {
    display: block;
  }
  .options {
    padding: 10px;
    margin: 15px auto;
    border-radius: 5px;
    width: 84%;
    font-size: 15px;
  }

  .explore {
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 84%;
    margin: 0px auto;
    display: block;
  }
  /*hero3*/
  /*hero4*/
  .we_combine {
    font-size: 16px;
    margin: 30px auto;
    width: 85%;
  }

  .whychoose_div_flex {
    display: block;
    width: 90%;
  }
  .whychoose_div {
    border: 2px solid var(--darkgrey);
    width: 100%;
    margin-bottom: 10px;
  }
  .Technical {
    margin-bottom: 10px;
  }
  /*hero4*/
  /*footer*/
  .footerleft_combine {
    display: flex;
    margin-top: -20px;
    width: 100%;
  }
  .footer_logo {
    width: 200px;
    margin-top: 50px;
  }
  .footer_left {
    width: 100%;
    margin-top: 50px;
  }
  .footer_max {
    width: 80%;
    margin: 0px auto;
    display: block;
    justify-content: space-between;
  }
  .bottom_margin {
    padding-bottom: 50px;
  }

  /*footer*/

  /*about*/
  .about {
    margin-top: -20px;
  }
  .aboutflex {
    display: block;
    width: 100%;
    margin: 35px auto;
  }
  .flexcontainer {
    width: 80%;
    display: block;
    margin: 20px auto;
  }
  .number_about {
    font-size: 50px;
  }
  .about1 {
    margin-top: 0px;
  }
  .map {
    width: 90%;
    margin: 40px auto;
    display: block;
  }
  /*about*/

  
/*contact us*/
.sendus {
  font-size: 20px;

}

.tell{
  font-size: 15px;
}
.input_flex{
  display: block;
  width: 100%;
  margin-top: 20px;
}
.input_contact{
  width: 100%;
}
.label{
  color: var(--blue);
  font-size: 15px;
  font-weight: 600;
}
.contact_input{
  width: 100%;
}
.contact_input_message{
  width: 100%;
}
.contact_submit{
  width: 40%;
}
.sec_input{
  margin-top: 20px;
}
.contactus{
  margin: 25px auto;
}
/*contact us*/
}

@media (max-width: 391px) {
  /*hero1*/
  .hero1 {
    margin-top: 70px;
  }
  .contact1 {
    background: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 5px;
    width: 70%;
  }
  .contact2 {
    background: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
    padding: 10px 18px;
    font-size: 12px;
    width: 100%;
  }

  /*hero1*/
  .whatwe {
    margin-top: 50px;
  }
}
