@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
:root{
    --white:#ffffff;
    --black:#0F0F0F;
    --grey:#E5E5E5;
    --Blue:#263238;
}
*{
    background: var(--white);
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
  
}
.logo_header{
    width: 150px;
    height: 38px;
}
.header{
    margin: 30px 120px;
    display: flex;
    justify-content: space-between;
}
.li_header{
    list-style: none;
    font-size: 15px;
    padding: 10px 20px ;
    border: 2px solid var(--white);
    border-radius: 5px;
}
.ul_header{
    display: flex;
    gap: 20px;
    margin-top: 0px;
}
.contact{
    background: var(--Blue);
    color: var(--white);
    
    border-radius: 5px;
    margin-top: 0px;
    border: 2px solid var(--Blue);
}
.contact:hover{
    background: var(--white);
    border: 2px solid var(--Blue);
    color: var(--Blue);
    cursor: pointer;
}
.li_header:hover{
    cursor: pointer;
    border: 2px solid var(--Blue);
}